:root {
    --danger:#EE4D47;
}

body{
    background-color: #FEF8F5;
}
* {
    font-family: 'Rubik', 'DM Serif Display', sans-serif;
  }

  .fw-bold {
    font-weight: 700 !important;
  }
  
  
.logo {
    font-family: 'DM Serif Display', sans-serif;;
}
.btn-danger {
    background-color: var(--danger);
    color: white;
}

#header {
    background-image:url("./car.png"), url('./BG.png');
    background-repeat: no-repeat,no-repeat;
    background-position:left 99% ,50% 0%;
    height: 1200px;
    object-fit: cover;
}

.mainp {
    font-family:'DM Serif Display', sans-serif;
}



.margin-sec2 {
    margin-top: 15% !important;
}


.backcolor {
    background-color: #FCDDD4;
    padding: 3%;
    position: relative;

}


.line {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}


/* Start How to Apply*/
.space {
    justify-content: space-between;

}

.lone {
    color: #EE4D47;
}

/*End Hot To Applt*/

/*start accordion part*/

.accordion-item {
    margin-bottom: 2%;
    padding: 2%;
}

.acc-btn, .acc-load {
    background-color: #FACDC8;
}


.acc-background{
    background-image: url("./www.png");
    background-repeat: no-repeat;
    background-position:100% 0%;
}
/*End accordion part*/



/*start footer*/
footer {
    height: 700px;
}
#footer {
    background-image: url(./Footer\ BG\ \(1\).png);
    background-repeat: no-repeat;
    background-position: 100% 128%;
    width: 90%;
    /* border-radius: 0 10% 0 0; */

}

.formfoter{
    background-color: white;
    padding: 2%;
}


.just-content {
    justify-content: space-around;

}


 .pfoot {
    padding: 3%;
    position: relative;
    color: white;
} 


.linefooter {
    position: absolute;
    left: 0;
    top: 12%;
    height: 40%;
}

.footer-car-position{
    
    position: relative;
    top: 121px;
}

.icons {
	padding:20px 0 ;
	text-align:center;
	overflow:hidden;
    color: #EE4D47;

}

.icons span {color:#5b6063; }

.icons ul {list-style:none;padding-left:0;margin:0;float:right;}

.icons ul li {display:inline-block; margin-right: 2%;}
.icons ul li i:hover{cursor:pointer;}

/*End footer*/
@media only screen and (max-width:600px) {

    #header {
        background-image: url('./1.png');
        background-position:50% 0%;
        height: 450px;
    }

    .poss img
    {
        display:none;
    }
    

}

@media only screen and (max-width:990px) {

   

    .poss img
    {
        width: 350px;
        height: 350px;
    }
    

}

@media only screen and (min-width:600px) {

    .poss img
    {
        width: 400px;
        height: 400px;
    }

}
@media only screen and (max-width:720px) {

    .imgwidth {
    width: 400px;
    height: 400px;
}

}





@media only screen and (min-width:720px) {

   

    .linefooter {
        position: absolute;
        left: 0;
        top: 16%;
        height: 40%;
    }
    

}

@media only screen and (max-width:990px) {

   

    .linefooter {
        position: absolute;
        left: 0;
        top: 14%;
        height: 40%;
    }
    

}
/* @media only screen and (max-width:900px) {

    .poss img
    {
        width: 360px;
    }
} */
/* @media only screen and (max-width:1200px) {

    .pos img
    {
        width: 450px;
    }
}

@media only screen and (max-width:900px) {
    #header .pos

    {
        top: 405px;
    }
    .pos img
    {
        width: 360px;
    }
}
@media only screen and (max-width:700px) {
    #header .pos

    {
        top: 360px;
    }
    .pos img
    {
        width: 290px;
    }
}
*/
/* @media only screen and (max-width:540px) {
    .poss img
    {
        display:none;
    }


}  */

















